/* footer{
border: 0;
outline: 0;
background: transparent;
border-bottom: 3px solid black;
display: flex;
flex-direction: row;
background-color: wheat;
justify-content: center;
align-items: baseline;
align-self: center;
flex-direction: column;
width: 90%;
} */

/* .new-tweet{
    
} */
textarea{
    width: 100%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 5px solid black;
    background-color: inherit;
}

textarea:focus{
 outline:none;
}
.tweet-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button, select {
    background: blue;
    color: white;
    font-family: 'Bungee';
}
.counter{
    display: flex;
    font-family: 'Bungee';
}

.counter-red{
color: red;
}
.tweet-record{
box-shadow: 10px 10px green;
}

.tweet-article {
    /* background-color: orange; */
    border: 5px black solid;
    padding: 20px;
}


.tweet-article header{
    margin-bottom: 20px;
}
.tweet-article footer i:hover{
    color: rgb(175, 196, 40);
}

.tweet-article footer {
    display: flex;
    justify-content: space-between;
}

.error-message{
    color: red;
    border: 5px red solid;
    
}